<h2>Add your post</h2>

<form>
  <div class="form-group">
    <label for="name">Your name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name">
  </div>

	<div class="form-group">
    <label for="text">Your text</label>
    <textarea class="form-control" id="text" rows="3" placeholder="Enter text"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>